/* Font is taken from https://www.google.com/fonts/specimen/Chewy */
@font-face 
{
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  src: local('Chewy'), url(extras/tilesgame-font-chewy.woff) format('woff');
}

.tilesgame-container
{
    display: inline-block;
    font-family: 'Chewy', cursive;
    font-size: 32px;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.tilesgame-setting-noimages div.tilesgame-game-tile,
.tilesgame-setting-noimages div.tilesgame-msg-mask
{
    background-image: none !important;
}
div.tilesgame-mask-in-cnt,
div.tilesgame-field-cell,
div.tilesgame-game-tile,
div.tilesgame-game-over-restart-btn span,
div.tilesgame-scoreboard,
span.tilesgame-score

{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tilesgame-setting-no-weight .tilesgame-tile-weight
{
    display: none;
}
div.tilesgame-msg-mask 
{
    display: none;
    top: 0;
    left: 0;
    opacity: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    background-size: cover;
    z-index: 4;
}

div.tilesgame-msg-box
{
    display: none;
    top: 0;
    left: 0;
    position:absolute;
    height: 180px;
    width: 300px;
    background-color: #000;
    z-index: 5;
    opacity: 0.65;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
div.tilesgame-msg-holder
{
    display: none;
}
div.tilesgame-message
{
    text-align: center;
    color:#FFF;
    position: absolute;
    z-index: 5;
    padding: 20px;
}
span.tilesgame-lose-msg-small
{
    font-size: 26px;
}
span.tilesgame-lose-msg-score
{
    font-size: 32px;
    color:#FF6633;
}
div.tilesgame-field-cell
{
    width: 100px;
    height: 100%;
    display: inline-block;
    border: 1px solid white;
    background-image: url(tilesgame-fieldcell.png);
    background-color: #c8e67e;
}
div.tilesgame-field-line
{
    height: 100px;
}
div.tilesgame-game-settings
{
    font-size: 18px;
    text-align: left;
    padding-left: 5px;
}
div.tilesgame-game-settings span
{
    display: inline-block;
}
div.tilesgame-game-settings span:not(:last-child)
{
    margin-right: 10px;
}
div.tilesgame-game-settings span:hover
{
    color:#99E6E6;
    cursor: pointer;
}
div.tilesgame-game-tile
{
    color: #FFF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #33CCCC;
    border: 1px solid white;
    width: 100px;
    height: 100px;
    position:absolute;
    z-index: 1;
}
div.tilesgame-game-over-restart-btn span
{
    padding: 5px 20px;
    cursor: pointer;
    opacity: 0.6;
    font-size: 24px;
    background-color: white;
    color: #000;
}
.tilesgame-game-over-restart-btn span:hover
{
    opacity: 1;
    color:#FF6633;
}
div.tilesgame-scoreboard
{
    color: #FFF;
    text-align: center;
    padding: 10px 5px;
    background-image: url(tilesgame-scoreboard.png);
    background-color: #33CCCC;
    font-size: 28px;
}
span.tilesgame-score:not(:last-child)
{
    margin-right: 10px;
}
span.tilesgame-score
{
    background-color: #70DBDB;
    min-width: 90px;
    display:inline-block;
    padding: 0 10px;
}
span.tilesgame-score-txt
{
    margin-right: 10px;
}